<div  id="menuP" class="menu-s">
    <h1 jhiTranslate="fjcintranetApp.menu.home.title" class="title-s"></h1>

    <div class="boxes">

        <div class="box">
            <h2 class="title-boxes" jhiTranslate="fjcintranetApp.menu.permisology.title"></h2>
            <div>
                <div class="wrapper-option">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.permisology.createPermit"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.permisology.registerPermit"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>

        <div class="box">
            <h2 class="title-boxes" jhiTranslate="fjcintranetApp.menu.managementDoc.title"></h2>
            <div>
                <div class="wrapper-option2 navigateBox" routerLink="/document/create">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.managementDoc.createDoc"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option2 navigateBox" routerLink="/document/search">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.managementDoc.findDoc"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option2 navigateBox" routerLink="/doc-modification/log">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.managementDoc.binnacleDoc"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option2 navigateBox" routerLink="/document/master">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.managementDoc.masterList"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>

        <div class="box">
            <h2 class="title-boxes" jhiTranslate="fjcintranetApp.menu.findings.title"></h2>
            <div>
                <div class="wrapper-option navigateBox" routerLink="/finding/create">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.findings.createFind"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option navigateBox" routerLink="/finding/records">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.findings.registerFindings"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option navigateBox" routerLink="/action-finding/globalActions">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.findings.globalFindings"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>

        <div class="box">
            <h2 class="title-boxes" jhiTranslate="fjcintranetApp.menu.activityAgenda.title"></h2>
            <div>
                <div class="wrapper-option navigateBox" routerLink="/activity/create">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.activityAgenda.createActi"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option navigateBox" routerLink="/activity/records">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.activityAgenda.registerActi"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option navigateBox" routerLink="/activity/book">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.activityAgenda.agendaActi"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>

        <div class="box">
            <h2 class="title-boxes" jhiTranslate="fjcintranetApp.menu.humanTalent.title"></h2>
            <div>
                <div class="wrapper-option">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.humanTalent.createFormation"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
                <div class="wrapper-option">
                    <span class="text-option" jhiTranslate="fjcintranetApp.menu.humanTalent.registerFormation"></span>
                    <button class="button-arrow">
                        <img src="../../../content/icons/Arrow.svg" alt="arrow">
                    </button>
                </div>
            </div>
        </div>
    </div>




    <div class="boxes-footer">
        <div class="title-footer">
            <h2 class="title-boxes" jhiTranslate="fjcintranetApp.menu.softwareFJC.title"></h2>
        </div>
        <div class="wrapper-footer">
            <div class="wrapper-box-footer">
                <span class="text-option-footer" jhiTranslate="fjcintranetApp.menu.softwareFJC.softUDM"></span>
                <button class="button-arrow">
                    <img src="../../../content/icons/Arrow.svg" alt="arrow">
                </button>
            </div >
            <div class="wrapper-box-footer">
                <span class="text-option-footer" jhiTranslate="fjcintranetApp.menu.softwareFJC.softUEI"></span>
                <button class="button-arrow">
                    <img src="../../../content/icons/Arrow.svg" alt="arrow">
                </button>
            </div>
            <div class="wrapper-box-footer">
                <span class="text-option-footer" jhiTranslate="fjcintranetApp.menu.softwareFJC.managementSystem"></span>
                <button class="button-arrow">
                    <img src="../../../content/icons/Arrow.svg" alt="arrow">
                </button>
            </div>
        </div>
    </div>
</div>
