.screenBox {
  margin-top: 90px;
  margin-bottom: 30px;
}

.pageTitle {
  font-family: 'oswald-bold';
  font-size: 30px;
  padding: 0;
  margin: 0;
}

.findingBox {
  display: flex;
  flex-direction: column;
  border: 3px solid #3f5486;
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  font-family: 'poppins-regular';
  width: 85%;
  padding: 0.5rem 3rem 1rem 3rem;
}

.dataBox {
  display: flex;
  flex-direction: column;
}
.subTitles {
  font-family: 'poppins-bold';
}

p {
  text-align: justify;
}

.sep {
  display: block;
  width: 100%;
  height: 3px;
  background-color: #3f5486;
  margin: 15px 0px;
}

img:hover {
  cursor: pointer;
}

.button-s {
  background-color: #3f5486;
  border: 2px solid #3f5486;
  border-radius: 10px;
  color: white;
  font-family: 'poppins-bold';
  height: 40px;
  width: 15%;
  margin-bottom: 1rem;
  font-size: 16px;
}

.input-s {
  width: 60%;
  height: 35px;
   border: 2px solid #9f9f9f;
  border-radius: 5px;
  padding: 2px;
}

.input-date {
  width: 110px;
  padding: 2px;
  height: 35px;
   border: 2px solid #9f9f9f;
  border-radius: 5px;
}

select {
  width: 10%;
  height: 35px;
  border: 2px solid #9f9f9f;
  border-radius: 5px;
  padding: 2px;
}

textarea {
  border: 2px solid #9f9f9f;
  border-radius: 5px;
  width: auto;
  line-height: 1.2;
  text-indent: 5px;
  resize: none;
}

label{
  margin: 0;
}