<div class="screenBox d-flex align-items-center flex-column">
    <h1 class="pageTitle text-center" jhiTranslate="fjcintranetApp.docModification.log.title"></h1>
    <div class="box">

        <div class="boxShadow mb-3">
                <table class="text-center w-100" aria-describedby="page-heading">
                    <thead>
                      <tr>
                        <td colspan="6">
                          <div class="justify-content-center">
                              <div class="d-flex flex-row justify-content-between boxFilter">

                                  <span class="align-self-center ml-2" jhiTranslate="fjcintranetApp.docModification.log.filter"></span>

                                  <div class="d-flex flex-row align-items-center inputBox">
                                      <label for="type" class="mr-2" jhiTranslate="fjcintranetApp.docModification.log.departament"></label>
                                     <select class="input-s" id="type">
                                          <option disabled selected aria-readonly="true" jhiTranslate="fjcintranetApp.docModification.log.selectDept"></option>
                                          <option value="1">UDM</option>
                                          <option value="2">UEI</option>
                                          <option value="3">SGE</option>
                                          <option value="4">ADM</option>
                                          <option value="5">THU</option>
                                          <option value="6">COM</option>
                                          <option value="7">DON</option>
                                          <option value="8">PRE</option>
                                          <option value="9">SEG</option>
                                          <option value="10">SGC</option>
                                      </select>
                                  </div>

                                  <div class="d-flex flex-row align-items-center inputBox mr-3">
                                      <label for="departament" class="mr-2" jhiTranslate="fjcintranetApp.docModification.log.type"></label>
                                      <select class="input-s" id="departament">
                                          <option disabled selected aria-readonly="true" jhiTranslate="fjcintranetApp.docModification.log.selectType"></option>
                                          <option value="1" jhiTranslate="fjcintranetApp.finding.records.statusOption.open"></option>
                                          <option value="1" jhiTranslate="fjcintranetApp.finding.records.statusOption.closed"></option>
                                      </select>
                                      <img class="icons ml-3" alt="search" src="../../../content/icons/search.svg">
                                  </div>
                              </div>
                           </div>
                        </td>
                      </tr>
                    </thead>
                    <tbody>
                      <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
                      <th scope="col"> <span jhiTranslate="fjcintranetApp.docModification.log.actionDate"></span></th>
                      <th scope="col"> <span jhiTranslate="fjcintranetApp.docModification.log.author"></span></th>
                      <th scope="col"> <span jhiTranslate="fjcintranetApp.docModification.log.departamentHead"></span></th>
                      <th scope="col"> <span jhiTranslate="fjcintranetApp.docModification.log.revision"></span></th>
                      <th scope="col"> <span jhiTranslate="fjcintranetApp.docModification.log.action"></span></th>
                      <th scope="col"></th>
                      </tr>
                    <tr *ngFor="let docModification of docModifications ;trackBy: trackId">
                        <td>{{docModification.dateMod | date:'dd/MM/yyyy'}}</td>
                        <td>{{docModification.author?.login}}</td>
                        <td>{{docModification.version}}</td><!--Aqui va el departamento-->
                        <td>{{docModification.commit}}</td><!--Aqui va la revision-->
                        <td>{{docModification.commit}}</td><!--Aqui va la Accion-->
                        <td>
                            <div *ngIf="docModification.docMod">
                                <a [routerLink]="['/doc-modification', docModification.docMod.id, 'register',docModification.docMod.nameDoc]" class="mr-2" jhiTranslate="fjcintranetApp.docModification.log.registerLink"></a>
                                <a [routerLink]="['/doc-modification',docModification.id,'info']" jhiTranslate="fjcintranetApp.docModification.log.viewLink"></a>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
        </div>


        <div [hidden]="docModifications?.length === 0">
            <div class="row justify-content-center">
                <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
            </div>
            <div class="row justify-content-center">
                <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
            </div>
        </div>

    </div>
</div>
