<div class="d-flex flex-column align-items-center screenBox">
  <h2 jhiTranslate="password.title" class="titlePage"></h2>
  <div class="boxInfo p-4 mb-2">
    <div class="d-flex flex-row align-item-center my-2">
      <img src="../../../content/icons/user.svg" alt="user" class="icons">
      <p class="m-0 d-flex align-items-center infoLabels normalTxt"><span jhiTranslate="password.boxUser.userName" class="mr-2"></span><span class="infoUser">{{  this.information.login  }}</span></p>
    </div>
    <div class="d-flex flex-row align-item-center my-2">
      <img src="../../../content/icons/email.svg" alt="email" class="icons">
      <p class="m-0 d-flex align-items-center infoLabels normalTxt"><span jhiTranslate="password.boxUser.email" class="mr-2"></span><span class="infoUser">{{  this.information.email  }}</span></p>
    </div>
    <div class="d-flex flex-row align-item-center my-2 noIcons">
      <p class="m-0 d-flex align-items-center infoLabels normalTxt"><span jhiTranslate="password.boxUser.firstName" class="mr-2"></span><span class="infoUser">{{  this.information.firstName  }}</span></p>
    </div>
    <div class="d-flex flex-row align-item-center my-2 noIcons">
      <p class="m-0 d-flex align-items-center infoLabels normalTxt"><span jhiTranslate="password.boxUser.lastName" class="mr-2"></span><span class="infoUser">{{  this.information.lastName  }}</span></p>
    </div>
    <div class="d-flex flex-row align-item-center my-2 noIcons">
      <p class="m-0 d-flex align-items-center infoLabels normalTxt"><span class="mr-2" jhiTranslate="password.boxUser.dpt"></span>
        <span class="infoUser">{{ information.departament}}</span></p>
    </div>
  </div>

  <div class="boxInfo p-2 mt-2 align-items-center">
    <h3 jhiTranslate="password.form.title" class="secondTitle"></h3>

    <div class="errorTxt text-success" *ngIf="success" jhiTranslate="password.messages.success">
        <b>Password changed!</b>
    </div>
    <div class="errorTxt text-danger" *ngIf="error"  jhiTranslate="password.messages.error">
        <b>An error has occurred!</b> The password could not be changed.
    </div>

    <div class="errorTxt text-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
        The password and its confirmation do not match!
    </div>

    <div class="errorTxt text-danger" *ngIf="emptyInputs" jhiTranslate="password.form.emptyInputs">
        <b>Password changed!</b>
    </div>

    <form name="form" class="w-75" (ngSubmit)="changePassword()" [formGroup]="passwordForm">
      <div class="">
        <div class="d-flex flex-column">
          <label class="mb-0 ml-3 mt-2 normalTxt" for="currentPassword" jhiTranslate="global.form.currentpassword.label">Current password</label>
          <input type="password" class="normalTxt" id="currentPassword" placeholder="{{'global.form.currentpassword.placeholder' | translate}}" formControlName="currentPassword">
        </div>
          <div class="text-center" *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" >
              <small class="form-text text-danger errorTxt"
                     *ngIf="passwordForm.get('currentPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                  Your password is required.
              </small>
          </div>
      </div>

      <div class="">
        <div class="d-flex flex-column mb-2">
          <label class="mb-0 ml-3 mt-2 normalTxt" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>
          <input type="password" class="normalTxt" id="newPassword" name="newPassword" placeholder="{{'global.form.newpassword.placeholder' | translate}}" formControlName="newPassword">
        </div>
          <div class="text-center" *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
              <small class="form-text text-danger errorTxt"
                 *ngIf="passwordForm.get('newPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                  Your password is required.
              </small>
              <small class="form-text text-danger errorTxt"
                 *ngIf="passwordForm.get('newPassword').errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                  Your password is required to be at least 4 characters.
              </small>
              <small class="form-text text-danger errorTxt"
                 *ngIf="passwordForm.get('newPassword').errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                  Your password cannot be longer than 50 characters.
              </small>
          </div>
      </div>

      <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>

      <div class="">
        <div class="d-flex flex-column">
          <label class="mb-0 ml-3 mt-2 normalTxt" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
          <input type="password" class="normalTxt" id="confirmPassword" name="confirmPassword" placeholder="{{'global.form.confirmpassword.placeholder' | translate}}" formControlName="confirmPassword">
        </div>
          <div class="text-center" *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
              <small class="form-text text-danger errorTxt"
                 *ngIf="passwordForm.get('confirmPassword').errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                  Your confirmation password is required.
              </small>
              <small class="form-text text-danger errorTxt"
                 *ngIf="passwordForm.get('confirmPassword').errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                  Your confirmation password is required to be at least 4 characters.
              </small>
              <small class="form-text text-danger errorTxt"
                 *ngIf="passwordForm.get('confirmPassword').errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                  Your confirmation password cannot be longer than 50 characters.
              </small>
          </div>
      </div>
      <div class="w-100 d-flex justify-content-center mb-1">
        <button type="submit" class="globalBtn mt-4 p-1 px-3" jhiTranslate="password.form.button"></button>
      </div>
    </form>
  </div>
  <button class="globalBtn mt-4 p-1 px-3" type="button" routerLink="/account/register">Registrar nuevo usuario</button>
  <button class="globalBtn mt-4 p-1 px-3" (click)="logout()" type="button" jhiTranslate="password.logout"></button>
</div>
<div *ngIf="isSaving">
  <div class="modalBox">
    <div class="firstCircle">
      <div class="secondCircle">
      </div>
    </div>
  </div>
</div>
<!--<div>
    <div class="row justify-content-center">
        <div class="col-md-8" *ngIf="account$ | async as account">
            <h2 jhiTranslate="password.title" [translateValues]="{username: account.login}">Password for [<strong>{{account.login}}</strong>]</h2>

            <div class="alert alert-success" *ngIf="success" jhiTranslate="password.messages.success">
                <strong>Password changed!</strong>
            </div>
            <div class="alert alert-danger" *ngIf="error"  jhiTranslate="password.messages.error">
                <strong>An error has occurred!</strong> The password could not be changed.
            </div>

            <div class="alert alert-danger" *ngIf="doNotMatch" jhiTranslate="global.messages.error.dontmatch">
                The password and its confirmation do not match!
            </div>

            <form name="form" role="form" (ngSubmit)="changePassword()" [formGroup]="passwordForm">

                <div class="form-group">
                    <label class="form-control-label" for="currentPassword" jhiTranslate="global.form.currentpassword.label">Current password</label>
                    <input type="password" class="form-control" id="currentPassword" name="currentPassword"
                           placeholder="{{'global.form.currentpassword.placeholder' | translate}}"
                           formControlName="currentPassword">
                    <div *ngIf="passwordForm.get('currentPassword').invalid && (passwordForm.get('currentPassword').dirty || passwordForm.get('currentPassword').touched)" >
                        <small class="form-text text-danger"
                               *ngIf="passwordForm.get('currentPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                    </div>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="newPassword" jhiTranslate="global.form.newpassword.label">New password</label>
                    <input type="password" class="form-control" id="newPassword" name="newPassword"
                           placeholder="{{'global.form.newpassword.placeholder' | translate}}"
                           formControlName="newPassword">
                    <div *ngIf="passwordForm.get('newPassword').invalid && (passwordForm.get('newPassword').dirty || passwordForm.get('newPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.required" jhiTranslate="global.messages.validate.newpassword.required">
                            Your password is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.minlength" jhiTranslate="global.messages.validate.newpassword.minlength">
                            Your password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('newPassword').errors.maxlength" jhiTranslate="global.messages.validate.newpassword.maxlength">
                            Your password cannot be longer than 50 characters.
                        </small>
                    </div>
                    <jhi-password-strength-bar [passwordToCheck]="passwordForm.get('newPassword').value"></jhi-password-strength-bar>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="confirmPassword" jhiTranslate="global.form.confirmpassword.label">New password confirmation</label>
                    <input type="password" class="form-control" id="confirmPassword" name="confirmPassword"
                           placeholder="{{'global.form.confirmpassword.placeholder' | translate}}"
                           formControlName="confirmPassword">
                    <div *ngIf="passwordForm.get('confirmPassword').invalid && (passwordForm.get('confirmPassword').dirty || passwordForm.get('confirmPassword').touched)">
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.required" jhiTranslate="global.messages.validate.confirmpassword.required">
                            Your confirmation password is required.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.minlength" jhiTranslate="global.messages.validate.confirmpassword.minlength">
                            Your confirmation password is required to be at least 4 characters.
                        </small>
                        <small class="form-text text-danger"
                           *ngIf="passwordForm.get('confirmPassword').errors.maxlength" jhiTranslate="global.messages.validate.confirmpassword.maxlength">
                            Your confirmation password cannot be longer than 50 characters.
                        </small>
                    </div>
                </div>
                <button type="submit" [disabled]="passwordForm.invalid" class="btn btn-primary" jhiTranslate="password.form.button">Save</button>
            </form>
        </div>
    </div>
</div>-->
