.boxInfo {
  background: #ffffff;
  border: 2px solid #3f5486;
  box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  width: 40%;
  display: flex;
  flex-direction: column;
}

.icons {
  width: 20px;
  height: 20px;
  margin-right: 5px;
}

.infoLabels {
  font-family: 'poppins-regular';
  font-size: 16px;
}

.noIcons {
  margin-left: 25px;
}

.screenBox {
  margin-top: 90px;
  margin-bottom: 40px;
}

.globalBtn {
  background: #3f5486;
  border-radius: 10px;
  border-style: none;
  color: #fff;
  font-family: 'poppins-bold';
  font-size: 16px;
}

input,
button {
  height: 40px;
}

input {
  background: #ffffff;
  border: 2px solid #9f9f9f;
  box-sizing: border-box;
  border-radius: 15px;
  text-indent: 15px;
}

.titlePage,
.secondTitle {
  font-family: 'oswald-bold';
  font-size: 30px;
}

.normalTxt,
.errorTxt {
  font-family: 'poppins-regular';
  font-size: 14px;
}

.secondTitle {
  font-size: 24px;
}

.infoUser {
  font-family: 'poppins-semibold';
}
