.screenBox {
  margin-top: 90px;
  margin-bottom: 40px;
}

.pageTitle {
  font-family: 'oswald-bold';
  font-size: 30px;
  margin-bottom: 40px;
}

.box {
  font-family: 'poppins-regular';
  font-size: 14px;
  color: #000;
  display: flex;
  justify-content: center;
  flex-direction: column;
  width: 95%;
}

td {
  border: 2px solid #3f5486;
  padding: 4px;
}

th {
  border-right: 2px solid #3f5486;
  padding: 5px 5px;
}

th:first-child {
  border-left: 2px solid #3f5486;
}

.input-s {
  width: 100%;
  height: 35px;
  border: 3px solid #3f5486;
  border-radius: 5px;
  padding: 2px;
}

.boxFilter {
  font-size: 17px;
}

.inputBox {
  padding: 4px;
}

label {
  margin: 0;
}

.icons {
  height: 30px;
  width: 30px;
  cursor: pointer;
}

.boxShadow {
  box-shadow: 10px 5px 15px rgba(0, 0, 0, 0.3);
}

.input-date {
  width: 120px;
  padding: 2px;
  height: 35px;
  border: 3px solid #3f5486;
  border-radius: 5px;
  text-align: center;
}

.arrowsGroup {
  display: flex;
  float: right;
  flex-direction: column;
  margin-right: 5px;
}

.up {
  transform: rotate(-135deg);
  -webkit-transform: rotate(-135deg);
}

.down {
  transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
}

.arrowsGroup i {
  border: solid #000;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  cursor: pointer;
}

.clearBox {
  cursor: pointer;
  font-family: 'poppins-bold';
}

.revision-doc {
  background-color: #eeab00;
}

.active-doc {
  background-color: #00e887;
}
