<div class="cms__container">
    <h2 id="page-heading">
        <span jhiTranslate="fjcintranetApp.document.home.title">Documents</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-document" [routerLink]="['/document/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span class="hidden-sm-down"  jhiTranslate="fjcintranetApp.document.home.createLabel">
            Create a new Document
            </span>
        </button>
    </h2>
    <jhi-alert-error></jhi-alert-error>
    <jhi-alert></jhi-alert>
    <div class="row">
        <div class="col-sm-12">
            <form name="searchForm" class="form-inline">
                <div class="input-group w-100 mt-3">
                    <input type="text" class="form-control" [(ngModel)]="currentSearch" id="currentSearch" name="currentSearch" placeholder="{{ 'fjcintranetApp.document.home.search' | translate }}">
                    <button class="input-group-append btn btn-info" (click)="search(currentSearch)">
                        <fa-icon [icon]="'search'"></fa-icon>
                    </button>
                    <button class="input-group-append btn btn-danger" (click)="clear()" *ngIf="currentSearch">
                        <fa-icon [icon]="'trash-alt'"></fa-icon>
                    </button>
                </div>
            </form>
        </div>
    </div>
    <br/>
    <div class="alert alert-warning" *ngIf="documents?.length === 0">
        <span jhiTranslate="fjcintranetApp.document.home.notFound">No documents found</span>
    </div>
    <div class="table-responsive cms__table--style" *ngIf="documents?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr jhiSort [(predicate)]="predicate" [(ascending)]="reverse" [callback]="transition.bind(this)">
            <th scope="col"  jhiSortBy="id"><span jhiTranslate="global.field.id">ID</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="codDoc"><span jhiTranslate="fjcintranetApp.document.codDoc">Cod Doc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="nameDoc"><span jhiTranslate="fjcintranetApp.document.nameDoc">Name Doc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="storage"><span jhiTranslate="fjcintranetApp.document.storage">Storage</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="dateCreation"><span jhiTranslate="fjcintranetApp.document.dateCreation">Date Creation</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="duration"><span jhiTranslate="fjcintranetApp.document.duration">Duration</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="finalDisposition"><span jhiTranslate="fjcintranetApp.document.finalDisposition">Final Disposition</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="origin"><span jhiTranslate="fjcintranetApp.document.origin">Origin</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="doc"><span jhiTranslate="fjcintranetApp.document.doc">Doc</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="creator.login"><span jhiTranslate="fjcintranetApp.document.creator">Creator</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="departament.nameDepartament"><span jhiTranslate="fjcintranetApp.document.departament">Departament</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="state.nameEs"><span jhiTranslate="fjcintranetApp.document.state">State</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"  jhiSortBy="type.name"><span jhiTranslate="fjcintranetApp.document.type">Type</span> <fa-icon [icon]="'sort'"></fa-icon></th>
            <th scope="col"></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let document of documents ;trackBy: trackId">
                <td><a [routerLink]="['/document', document.id, 'view' ]">{{document.id}}</a></td>
                <td>{{document.codDoc}}</td>
                <td>{{document.nameDoc}}</td>
                <td>{{document.storage}}</td>
                <td>{{document.dateCreation | date:'dd/MM/yyyy'}}</td>
                <td>{{document.duration}}</td>
                <td>{{document.finalDisposition}}</td>
                <td>{{document.origin}}</td>
                <td>
                    <a *ngIf="document.doc" (click)="openFile(document.docContentType, document.doc)" jhiTranslate="entity.action.open">open</a>
                    <span *ngIf="document.doc">{{document.docContentType}}, {{byteSize(document.doc)}}</span>
                </td>
                <td>
                    {{document.creator?.login}}
                </td>
                <td>
                    <div *ngIf="document.departament">
                        <a [routerLink]="['/departament', document.departament?.id, 'view' ]" >{{document.departament?.nameDepartament}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="document.state">
                        <a [routerLink]="['/document-state', document.state?.id, 'view' ]" >{{document.state?.nameEs}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="document.type">
                        <a [routerLink]="['/document-type', document.type?.id, 'view' ]" >{{document.type?.name}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.view">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/document', document.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.edit">Edit</span>
                        </button>
                        <button type="submit" (click)="delete(document)"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline" jhiTranslate="entity.action.delete">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
    <div [hidden]="documents?.length === 0">
        <div class="row justify-content-center">
            <jhi-item-count [page]="page" [total]="totalItems" [itemsPerPage]="itemsPerPage"></jhi-item-count>
        </div>
        <div class="row justify-content-center">
            <ngb-pagination [collectionSize]="totalItems" [(page)]="page" [pageSize]="itemsPerPage" [maxSize]="5" [rotate]="true" [boundaryLinks]="true" (pageChange)="loadPage(page)"></ngb-pagination>
        </div>
    </div>
</div>
