<div class="d-flex screenBox">
  <div class="d-flex w-50 pl-3">
		<img class="img-fluid rounded w-100" src="../../../content/images/logofjc.svg"/>
	</div>
  <div class="d-flex w-50 flex-column justify-content-center align-items-center">
    <h1 jhiTranslate="reset.request.title" class="titlePage"></h1>
    <div class="d-flex boxForm">
      <img src="../../../content/icons/ic_success.svg" alt="success" class="img-fluid">
      <p class="msg text-center mt-1" jhiTranslate="reset.request.confirm.info"></p>
      <form class="dataEntry" action="index.html" method="post" [formGroup]="receiveForm">
        <input type="text" class="w-100 text-center" readonly placeholder="ejemplo1999@gmail.com" formControlName="email">
        <button type="button" (click)="validate()" class="backButton mt-3" jhiTranslate="reset.request.confirm.button"></button>
      </form>
    </div>
  </div>
</div>
